<!-- top -->
<header class="header">
    <div class="htitle">
        <h1>PORTFOLIO</h1>
    </div>
    <div class="hpadding">
    <div class="hnav">
        <ul class="hnav-list">
            <li class="hnav-item"><a href="#portfolio">portfolio</a></li>
            <li class="hnav-item"><a href="#skills">skills</a></li>
            <li class="hnav-item"><a href="#about">about</a></li>
            <li class="hnav-item"><a href="#carrer">carrer</a></li>
            <li class="hnav-item"><a href="#contact">contact</a></li>
        </ul>
    </div>
    </div>
</header>

<!-- portfolio -->
<section class="psection" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2>portfolio</h2>
        </div>
        <div class="row margin-top7">
            <div class="col-lg-4 cd">
                <div class="block-center">
                    <a href="#" class="works-item">
                        <span class="back">
                            <h2 class="font-size30">投稿キャラクターを識別</h2>
                            <h2 class="font-size30 ml-6rem">(製作中)</h2>
                        </span>
                        <%= image_tag "chara.jpg_large",class: "img-fluid img-scale" %>
                    </a>
                    <h5 class="works-item_title">Character identification</h5>
                    <h6 class="works-item_category">machine learning</h6>
                </div>
            </div>
            <div class="col-lg-4 cd">
                <div class="block-center">
                    <a href="#" class="works-item">
                        <span class="back">
                            <h2 class="font-size30 ml-5">くずし字を分類する</h2>
                            <h2 class="font-size30 ml-6rem">&nbsp;&nbsp;(製作中)</h2>
                        </span>
                        <%= image_tag "kuzusizi.png",class: "img-fluid img-scale" %>
                    </a>
                    <h5 class="works-item_title">Character identification</h5>
                    <h6 class="works-item_category">machine learning</h6>
                </div>
            </div>
            <div class="col-lg-4 cd">
                <div class="block-center">
                    <a href="#" class="works-item">
                        <span class="back">
                            <h2 class="font-size30">誰かと本を交換する</h2>
                            <h2 class="ml-6rem font-size30">(製作中)</h2>
                        </span>
                        <%= image_tag "book.png",class: "img-fluid img-scale" %>
                    </a>
                    <h5 class="works-item_title">Character identification</h5>
                    <h6 class="works-item_category">machine learning</h6>
                </div>
            </div>
        </div>
        <div class="relation-item">
            <a href="https://github.com/nico-gith" target="_blank" rel="noopener noreferrer" class="rounded-circle">github</a>
            <a href="https://drive.google.com/drive/u/0/shared-with-me"  target="_blank" rel="noopener noreferrer" class="rounded-circle smalltext">GoogleDrive</a>
        </div>
    </div>
</section>

<!-- skills -->
<section class="ssection" id="skills">
    <div class="container">
        <div class="text-center">
            <h2>skills</h2>
        </div>
        <div class="row margin-top7">
            <div class="col-lg-4">
                <div class="text-center">
                    <h3 class="skills-h">言語/レベル</h3>
                    <ul class="text-left mt-3">
                        <li class="skills-item">
                            <span class="list-style">HTML/CSS</span>
                            <span class="star" data-rate="3.5"></span>
                        </li>
                        <li class="skills-item">
                            <span class="list-style">Ruby</span>
                            <span class="star" data-rate="3.0"></span>
                        </li>
                        <li class="skills-item">
                            <span class="list-style">Python</span>
                            <span class="star" data-rate="2.5"></span>
                        </li>
                        <li class="skills-item">
                            <span class="list-style">C/C++</span>
                            <span class="star" data-rate="2.0"></span>
                        </li>
                        <li class="skills-item">
                            <span class="list-style">VBA</span>
                            <span class="star" data-rate="3.0"></span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="text-center">
                    <h3 class="skills-h">フレームワーク</h3>
                    <ul class="text-left mt-3">
                        <li>Ruby on Rails</li>
                        <li>Bootstrap</li>
                        <li>jQuery</li>
                        <li>Keras</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="text-center">
                    <h3 class="skills-h">環境</h3>
                    <ul class="text-left mt-3">
                        <li>AWS</li>
                        <li>Google Colab</li>
                    </ul>
                </div>
            </div>
            <div class="skills-sub col-lg-4">
                <h3>補足</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 mt-3">
                <ul class="text-left">
                        <li>組み込みシステムの開発エンジニア(主にハードウェア)として開発プロセスを一通り経験済み</li>
                        <li class="mt-1">C及びVBAは業務での使用経験有り。他はプログラミングスクール及び独学にて習得</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- about -->
<section class="asection" id="about">
    <div class="container">
        <div class="text-center">
            <h2>about</h2>
        </div>
        <div class="row margin-top7">
            <div class="col-lg-6 text-center">
                <span class="img-box">
                    <%= image_tag "about1.png", class: "img-adjust" %>
                </span>
            </div>
            <div class="col-lg-6">
               <ul class="about-item">
                   <li><span class="text-style">名前</span><span>：K/Y</span></li>
                   <li class="mt-2"><span class="text-style">出身</span><span>：九州</span></li>
                   <li class="mt-2"><span class="text-style">活動</span><span>：大学、大学院時代は物理、制御工学を専攻し、前職では主に電機機器のハードウェア開発に従事。一方で、学生時代よりプログラミングにも興味があり、簡単なアプリ制作や、仕事効率化に活用。徐々にソフト業界への思いが強まり、キャリアチェンジを決意。退職後、プログラミングスクールに通い、機械学習及びWebアプリ制作を学び、独自アプリの制作を行なっている</span>
                   </li>
               </ul> 
            </div>
        </div>
    </div>

</section>

<!-- carrer -->
<section class="csection" id="carrer">
    <div class="container">
        <div class="text-center">
            <h2>carrer</h2>
        </div>
        <!--
        <div class="row margin-top7">
            <div class="offset-lg-2 col-lg-2">
                <h4>2014-2019</h4>
            </div>
        </div>
        <div class="row">
            <div class="offset-lg-2 col-lg-2 text-center">
                <ul class="font-size16px">
                    <li><span>プロジェクト</span></li>
                    <li><span>担当業務</span></li>
                    <li><span>補足</span></li>
                </ul>
            </div>
                <div class="col-lg-8">
                    <ul class="font-size16px content-style">
                        <li><span>：あ</span></li>
                        <li><span>担当業務</span></li>
                        <li><span>補足</span></li>
                    </ul>
                </div>
            </div>
        </div>
        -->
        <div class="row mt-5">
            <div class="offset-lg-2">
                <table class="table text-center">
                    <thead>
                        <tr>
                            <th class="font-size20px no-wraps border-none">①2014-2019</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="border-none">プロジェクト</td>
                            <td class="border-none text-left">
                                <p>モータ駆動用インバータの開発</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="border-none">担当フェーズ</td>
                            <td class="border-none text-left">
                                <p>仕様決定、システム設計、ハードウェア開発/評価、現地試験</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="border-none">詳細業務内容</td>
                            <td class="border-none text-left">
                                <p>顧客との仕様協議、システム設計、主回路・電子回路設計/評価、モータ制御性能試験、現地試験</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="border-none">取り組み</td>
                            <td class="border-none text-left">
                                <p class="line-height">仕様協議、設計、評価、試験に至る一連の開発プロセスを経験。簡単なソフトデバッグ経験済み
                                <br>担当した基板は新規技術考案により従来比70%の小型化を達成。大手企業との競合下、受注獲得</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="offset-lg-2">
                <table class="table text-center">
                    <thead>
                        <tr>
                            <th class="font-size20px no-wraps border-none">②2019-2020</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="border-none">プロジェクト</td>
                            <td class="border-none text-left">
                                <p>量産工場の生産技術(設備開発含む)、品質保証業務</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="border-none">担当フェーズ</td>
                            <td class="border-none text-left">
                                <p>①用試験設備の開発・改善・運用(保守、メンテナンス含む)方法策定業務、不具合対応</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="border-none">詳細業務内容</td>
                            <td class="border-none text-left">
                                <p>試験設備の開発業務、試験設備のチューニング、保守/点検方法の確立
                                <br>製品(インバータ)試験機の不具合対応及び対処プロセスの考案、サプライヤ品質評価システムの構築</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="border-none">取り組み</td>
                            <td class="border-none text-left">
                                <p class="line-height">試験設備の開発リーダとして業務主導。開発完了後、生産技術の立場より運用改善に取り組む
                                <br>品質保証業務では製品品質向上の為のシステム構築を実施。作業効率化の為VBA作成を意識</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<!-- contact -->
<footer class="footer" id="contact">
    <div class="container">
        <div class="text-center">
            <h2>contact</h2>
            <h5 class="mt-5">メールにてご連絡頂く場合は下記アドレスへお願いします</h5>
            <h5 class="mt-5">k1nonfic@gmail.com</h5>
            <p class="mt-6">© K/Y portfolio 2021</p>
        </div>
        <div class="text-right">
        <a href="#"><%= image_tag "to_top.png" %></a>
        </div>
    </div>
</footer>